body {
  margin: 0;
  height: 200vh;

  background-color: #d9f0ff;
  background-image: url("images/bgsite.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.spacer {
  height: 150vh;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  padding: 20px;

  background-image: url("images/bgmenu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.menu a {
  display: inline-block;
  margin: 0 35px;

  text-decoration: none;
  color: black;
  font-size: 20px;

  transition: color 0.3s ease;
}

.menu a:hover {
  color: #021363;
}