body {
  margin: 0;
  height: 200vh;

  background-color: #d9f0ff;
  background-image: url("images/bgsite.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.spacer {
  height: 150vh;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  padding: 20px;

  background-image: url("images/bgmenu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.menu a {
  display: inline-block;
  margin: 0 35px;

  text-decoration: none;
  color: black;
  font-size: 20px;

  transition: color 0.3s ease;
}

.menu a:hover {
  color: #021363;
}

.page {
  padding: 60px;
  font-size: 18px;
  color: black;
}

.zoom-link {
  color: #021363;
  text-decoration: underline;
  font-weight: bold;
  word-break: break-word;
}

.zoom-link:hover {
  color: black;
}
.page {
  padding: 60px;
  font-size: 18px;
  color: black;
}

/* table layout */
.table {
  width: 100%;
  margin-top: 30px;
}

/* each row */
.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 20px;

  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* header row */
.header {
  font-weight: bold;
  border-bottom: 2px solid #021363;
}

/* video link */
.row a {
  color: #021363;
  text-decoration: underline;
}

.row a:hover {
  color: black;
}